.logo {
    float: left;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.logo__img {
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    width: 133px;
    height: 56px;
}

.line__image__white {
    background-image: url("../img/logoSingleWhite.svg");
    background-repeat: no-repeat;
    width: 300px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.line__image__blue {
    background-image: url("../img/logoSingleBlue.svg");
    background-repeat: no-repeat;
    width: 300px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.slider img {
    height: 100vh;
    width: 100%;
}

.nav__bar {
    background: linear-gradient(0deg, rgba(0, 92, 146, 0.2) 0%, rgba(0, 92, 146, 1) 100%);
    height: 75px;
    width: 100%;
    position: absolute;
    z-index: 100;
    padding-left: 171px;
    padding-top: 8px;
}

.nav__bar__sites {
    background-color: rgba(0, 92, 146, 1);
    height: 75px;
    width: 100%;
    padding-left: 171px;
    padding-top: 8px;
}

.nav__menu__item {
    float: right;
    padding-right: 171px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.nav__item {
    list-style: none;
    display: inline-block;
}

.nav__item a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 23px;
}

.f300 {
    font-weight: 300;
}

.f500 {
    font-weight: 500;
}

.f600 {
    font-weight: 600;
}

.f700 {
    font-weight: 700;
}

.f800 {
    font-weight: 800;
}

.title {
    text-align: center;
    font-size: 50px;
}

h1,
h2 {
    font-size: 101px;
}

footer {
    width: 100%;
    height: 230px;
    background-color: #004872;
}

.footer__desc {
    width: 100%;
}

.footer__brands {
    width: 49%;
    display: inline-block;
    padding-top: 26px;
}

.footer__business {
    width: 49%;
    display: inline-block;
    color: white;
    list-style: none;
}

.complement {
    height: 80px;
    width: 100%;
}

.complement_001 {
    height: 200px;
    width: 100%;
}

.complement_002 {
    padding-top: 25%;
}