.header__site {
    height: 100vh;
    background-size: cover;
    position: relative;
}

.text__white {
    color: white;
}

.bg__blue001 {
    background: rgb(00, 48, 72);
}

.welcome {
    width: 100%;
    height: 258 px;
}

.separator {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line__left {
    background: white;
    width: 50%;
    height: 1px;
    float: left;
}

.line__right {
    background: white;
    width: 50%;
    height: 1px;
    float: right;
}

.services {
    font-size: 55px;
    margin: 0px;
}

.therapy001,
.therapy002,
.therapy003 {
    width: 100%;
    height: 300px;
    text-align: center;
    color: white;
}

.therapy001 {
    background-color: #12A5FB;
    background: url(../img/parallax/img001.png);
    background-attachment: fixed;
}

.therapy002 {
    background-color: #007AC3;
    background: url(../img/parallax/img002.png);
    background-attachment: fixed;
}

.therapy003 {
    background-color: #004872;
    background: url(../img/parallax/img003.png);
    background-attachment: fixed;
}

.name__therapy {
    font-size: 75px;
}

.desc__therapy {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.line__left__blue {
    background: #C0D2DC;
    width: 50%;
    height: 1px;
    float: left;
}

.line__right__blue {
    background: #C0D2DC;
    width: 50%;
    height: 1px;
    float: right;
}

.separator__blue {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.more__services {
    background: #004872;
    width: 620px;
    height: 85px;
    padding: 54px;
    font-size: 45px;
    border-radius: .8em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedules {
    color: #004872;
    font-size: 60px;
    margin-top: 30px;
}

.schedules__text {
    font-size: 50px;
    display: flex;
    align-items: center;
}

.schedules__text001 {
    font-size: 20px;
}

.schedules__text002 {
    font-size: 20px;
    text-align: center;
    color: #004872;
}

.center__text {
    text-align: center;
}

.center__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.business__days {
    width: 80px;
    height: 80px;
    background-color: #004872;
    display: inline-block;
    color: white;
    text-align: center;
    border-radius: .4em;
    margin-right: 20px;
}

.non-business__days {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: .4em;
    border-color: #004872;
    text-align: center;
    border-style: solid;
}

.therapy__descon {
    background-image: url(../img/therapy/descon.svg);
    background-repeat: no-repeat;
    color: white;
}

.therapy__linf {
    background-image: url(../img/therapy/linf.svg);
    background-repeat: no-repeat;
    color: #004872;
}

.therapy__relax {
    background-image: url(../img/therapy/relax.svg);
    background-repeat: no-repeat;
    color: white;
}

.therapy__size {
    display: inline-block;
    width: 320px;
    height: 329px;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30%;
    text-align: center;
    border-color: #004872;
    border-style: solid;
}

.therapy__ {
    margin: 20px 20px 20px 20px;
}

.img__therapy__descon {
    background-image: url(../img/therapy/descon_001.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
}

.technical {
    list-style: none;
    color: #004872;
    font-size: 30px;
}

.techniques {
    text-align: center;
}

.therapy__header {
    background-color: #007AC3;
    height: 76px;
    color: white;
    font-size: 30px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.therapy__service {
    width: 400px;
    height: 400px;
    border-radius: .8em;
    box-shadow: 1px 2px 6px 5px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 1px 2px 6px 5px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 1px 2px 6px 5px rgba(0, 0, 0, 0.54);
}

.time {
    background-image: url(../img/time.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
    float: left;
}

.time__text {
    float: left;
}

.price {
    float: right;
}

.therapy__title {
    width: 400px;
    height: 103px;
    padding: 20px;
    margin: 0;
    text-align: center;
    color: #004872;
    font-size: 30px;
}

.therapy__body {
    display: flex;
    justify-content: center;
}

.therapy__img__001 {
    background-image: url(../img/anatomy/pierna-espalda.svg);
    background-repeat: no-repeat;
    height: 211px;
    width: 196px;
}

.therapy__img__002 {
    background-image: url(../img/anatomy/pecho-espalda.svg);
    background-repeat: no-repeat;
    height: 211px;
    width: 196px;
}

.therapy__img__003 {
    background-image: url(../img/anatomy/hombro-brazo.svg);
    background-repeat: no-repeat;
    height: 211px;
    width: 196px;
}

.therapy__img__004 {
    background-image: url(../img/anatomy/espalda.svg);
    background-repeat: no-repeat;
    height: 211px;
    width: 196px;
}

.therapy__img__005 {
    background-image: url(../img/anatomy/cuerpo-completo.svg);
    background-repeat: no-repeat;
    height: 211px;
    width: 196px;
}